<!DOCTYPE html>
<html>
<head>
<title>Gruha Alankara</title>
</head>

<body>

<h1>Gruha Alankara AI Interior Design</h1>

<form action="/recommend" method="post">

<label>Room Type</label>

<select name="room">
<option>Bedroom</option>
<option>Living Room</option>
<option>Kitchen</option>
</select>

<br><br>

<label>Style</label>

<select name="style">
<option>Modern</option>
<option>Traditional</option>
<option>Minimalist</option>
</select>

<br><br>

<label>Color</label>

<select name="color">
<option>White</option>
<option>Blue</option>
<option>Wood</option>
</select>

<br><br>

<button type="submit">Generate Design</button>

</form>

</body>
</html>
